body {
    display: flex;
    font-family: 'Papyrus', sans-serif;
    background-color: bisque;
    flex-direction: column;
    align-items: center;
    color: darkslategray;
    padding-top: 150px;
}

.button {
    background-color: transparent;
    color: darkslategray;
    border: 0;
    margin-top: 25px;
    margin-bottom: auto;
}

h2 {
    margin-top: 30px;
}

#header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: blanchedalmond;
    border-bottom: 2px solid whitesmoke;
    color: darkslategray;
    text-align: center;
    height: 15%;
}

#upgrades-1 {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: blanchedalmond;
    border: 2px solid whitesmoke;
    display: block;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

#upgrades-2 {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    background-color: blanchedalmond;
    border: 2px solid whitesmoke;
    display: block;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

#reset-div {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: blanchedalmond;
    border-top: 2px solid whitesmoke;
    bottom: 0;
    padding-bottom: 20px;
    height: 40px;
}

.buttons {
    background-color: transparent;
    border: 0;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.buttons:hover {
    transform: scale(1.2);
}

#plus-img {
    width: 50%;
    height: 50%;
}

#plus-1 {
    margin-top: 50px;
}

#ten-img {
    height: 100px;
    width: 50px;
}

#thirty-img {
    height: 100px;
    width: 50px;
}

#eighty-img {
    height: 100px;
    width: 50px;
}

#two-img {
    height: 100px;
    width: 100px;
}

#five-img {
    height: 100px;
    width: 50px;
}

#thou-img {
    height: 100px;
    width: 50px;
}

#score {
    transition: color 0.3s ease;
}

@media (max-width: 768px) {
    #upgrades-1 {
        display: flex;
        position: relative;
        height: 100px;
        width: 100%;
        flex-direction: row;
        left: 0;
        right: 0;
        justify-content: center;
    }

    h2 {
        margin-top: 80px;
    }

    #upgrades-2 {
        display: flex;
        position: relative;
        height: 160px;
        width: 100%;
        bottom: 0;
        left: 0;
        top: auto;
        flex-direction: row;
        right: 0;
        justify-content: flex-start;
    }

    #header {
        height: 20%;
    }

    #reset-div {
        bottom: 0;
        margin-top: auto;
        border: 2px solid whitesmoke;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #reset {
        padding-bottom: 25px;
    }

    .deets {
        margin-bottom: 80px;
    }

    .buttons {
        margin-bottom: 60px;
    }

    #plus-img {
        height: 30%;
        width: 30%;
    }

    #ten-img {
        height: 75px;
        width: 50px;
    }

    #thirty-img {
        height: 75px;
        width: 50px;
    }

    #eighty-img {
        height: 75px;
        width: 50px;
    }

    #two-img {
        height: 75px;
        width: 50px;
        margin-bottom: 50px;
    }

    #five-img {
        height: 75px;
        width: 50px;
        margin-bottom: 50px;
    }

    #thou-img {
        height: 75px;
        width: 50px;
        margin-bottom: 50px;
    }
    
    #plus-1 {
        margin-top: 50px;
        justify-self: center;
    }

    body {
        padding-top: 50px;
    }

    h3 {
        display: flex;
        font-size: 0.6rem;
        margin-bottom: 20px;
        margin-top: 20px;
        justify-content: center;
    }
}
