body {
    display: flex;
    font-family: 'Papyrus', sans-serif;
    background-color: bisque;
    flex-direction: column;
    align-items: center;
    color: darkslategray;
    padding-top: 10vh;
}

.button {
    background-color: transparent;
    color: darkslategray;
    border: 0;
    margin-top: 2.5vh;
    margin-bottom: auto;
}

h2 {
    font-size: 4vh;
    margin-top: 5vh;
}

#header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: blanchedalmond;
    border-bottom: 2px solid whitesmoke;
    color: darkslategray;
    text-align: center;
    height: 15vh;
}

#upgrades-1, upgrades-2 {
    min-height: 100vh;
}

#upgrades-1 {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-color: blanchedalmond;
    border: 2px solid whitesmoke;
    display: block;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    min-width: 250px;
}

#upgrades-2 {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    background-color: blanchedalmond;
    border: 2px solid whitesmoke;
    display: block;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    min-width: 250px;
}

#reset-div {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: blanchedalmond;
    border-top: 2px solid whitesmoke;
    bottom: 0;
    padding-bottom: 2vh;
    height: 4vh;
}

.buttons {
    background-color: transparent;
    border: 0;
    margin-top: 2vh;
    transition: transform 0.3s ease;
}

.buttons:hover {
    transform: scale(1.2);
}

#plus-img {
    width: 150px;
    height: 25vh;
}

#plus-1 {
    margin-top: 5vh;
}

#ten-img {
    height: 10vh;
    width: auto;
}

#thirty-img {
    height: 10vh;
    width: auto;
}

#eighty-img {
    height: 10vh;
    width: auto;
}

#two-img {
    height: 10vh;
    width: auto;
}

#five-img {
    height: 10vh;
    width: auto;
}

#thou-img {
    height: 10vh;
    width: auto;
}

#score {
    transition: color 0.3s ease;
}

@media (max-width: 768px) {
    #upgrades-1, upgrades-2 {
        min-height: auto;
    }
    
    #upgrades-1 {
        display: flex;
        position: relative;
        height: 10vh;
        width: 100%;
        flex-direction: row;
        left: 0;
        right: 0;
        justify-content: center;
    }

    #upgrades-2 {
        display: flex;
        position: relative;
        height: 16vh;
        width: 100%;
        bottom: 0;
        left: 0;
        top: auto;
        flex-direction: row;
        right: 0;
        justify-content: center;
        padding-bottom: 2.5vh;
    }

    #header {
        height: 15vh;
        padding-bottom: 2vh;
    }

    h2 {
        margin-top: 15vh;
    }

    #reset-div {
        bottom: 0;
        margin-top: auto;
        border: 2px solid whitesmoke;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #reset {
        padding-bottom: 2.5vh;
    }

    .deets {
        margin-bottom: 8vh;
    }

    .buttons {
        margin-bottom: 6vh;
    }

    #plus-img {
        height: 30vh;
        width: 30vw;
    }

    #ten-img {
        height: 7.5vh;
        width: 5vw;
    }

    #thirty-img {
        height: 7.5vh;
        width: 5vw;
    }

    #eighty-img {
        height: 7.5vh;
        width: 5vw;
    }

    #two-img {
        height: 7.5vh;
        width: 5vw;
        margin-bottom: 5vh;
    }

    #five-img {
        height: 7.5vh;
        width: 5vw;
        margin-bottom: 5vh;
    }

    #thou-img {
        height: 7.5vh;
        width: 5vw;
        margin-bottom: 5vh;
    }
    
    #plus-1 {
        margin-top: 5vh;
        justify-self: center;
    }

    body {
        padding-top: 5vh;
    }

    h3 {
        display: flex;
        font-size: 2vw;
        margin-bottom: 2vh;
        margin-top: 2vh;
        justify-content: center;
    }
}
